# Files, directories and patterns that Git will intentionally
# ignore. NOTE: Files already tracked by Git are not affected.
# Docs: https://git-scm.com/docs/gitignore

# Database
*.db
*.sql
db.sqlite3
db.sqlite3-journal

# Distribution / Packaging
.eggs/
.installed.cfg
.Python
*.egg
*.egg-info/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
MANIFEST
parts/
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
wheels/

# Django Framework
local_settings.py
logs/
media/
site_media/

# Installer Logs
pip-delete-this-directory.txt
pip-log.txt

# Mac / OS X
.DS_Store

# mkdocs Documentation
/site

# pyenv
.python-version

# Python Bytecode
__pycache__/
*.py[cod]
*.pyc
*$py.class

# Sphinx Documentation
doc/_build/
docs/_build/

# Unit Testing / Coverage
.cache
.coverage
.coverage.*
.hypothesis/
.nox/
.pytest_cache/
.tox/
*.cover
*.py,cover
coverage.xml
htmlcov/
nosetests.xml
pytestdebug.log

# Virtual Environments
.env
.venv
env/
venv/

# Visual Studio Code IDE
.vscode/
*.code-workspace
